<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.github.fwi.db2rest" level="debug"/>
    <!-- set jdbc.core to trace or debug to see queries -->
    <logger name="org.springframework.jdbc.core" level="info"/>
</configuration>
